* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  background: #e8e8e8;
}

.container {
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  .card {
    float: left;
    width: calc((100% - 16px * 6) / 3);
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 10px 13px -7px #d3d3d3;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;

    .card__image {
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .card__title {
      padding: 12px;
      color: #7c7c7c;
      font-size: 18px;
      font-weight: 100;
    }

    .card__content {
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px;
      font-size: 13.33333px;
      color: #999999;
      min-height: 80px;
    }

    .card__action {
      padding: 12px;
      margin-top: auto;
      .btn {
        padding: 5px;
        width: 100%;
        background: transparent;
        border: 1px solid #cccccc;
        color: #696969;
      }
    }
  }
}

@media (max-width: 1199px) {
  .container {
    .card {
      width: calc((100% - 16px * 4) / 2);
    }
  }
}

@media (max-width: 767px) {
  .container {
    .card {
      width: calc(100% - 16px * 2);
    }
  }
}
