* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  background: #e8e8e8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;

  .card {
    display: flex;
    flex-basis: calc((100% - 16px * 6) / 3);
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 16px;
    margin-left: 16px;

    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 10px 13px -7px #d3d3d3;

    .card__image {
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .card__title {
      padding: 12px;

      color: #7c7c7c;
      font-size: 18px;
      font-weight: 100;
    }

    .card__content {
      min-height: 80px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px;

      color: #999999;
      font-size: 13.33333px;
    }

    .card__action {
      margin-top: auto;
      padding: 12px;

      .btn {
        padding: 5px;
        width: 100%;
        
        background: transparent;
        border: 1px solid #cccccc;
        color: #696969;
      }
    }
  }
}

@media (max-width: 1199px) {
  .container {
    .card {
      flex-basis: calc((100% - 16px * 4) / 2);
    }
  }
}

@media (max-width: 767px) {
  .container {
    .card {
      flex-basis: calc(100% - 16px * 2);
    }
  }
}
