* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: rgb(167, 167, 167);
}

.container {
  padding: 20px;
  width: 50%;
}

table {
  width: 100%;
  font-family: arial, sans-serif;
  background: #fff;
  border-collapse: collapse;
}

td, th {
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f7f8fd;
}