* {
  padding: 0;
  margin: 0;
}

.form {
  padding: 10px;
  width: 400px;
  height: 600px;
}

.form .form__title {
  font-size: 24px;
  font-weight: bold;
  background: green;
}

.form .form__content {
  margin-top: 16px;
}

.form .form__action {
  margin-top: 5px;
}

.btn {
  padding: 0 5px;
  outline: none;
  background: transparent;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

.btn:hover {
  background:rgb(247, 244, 244);
}

input:not(input[type="file"]) {
  padding: 5px;
  border: 1px solid #d4d4d4;
  outline: none;
}

input[type="file" i]::-webkit-file-upload-button {
  padding: 0 5px;
  outline: none;
  background: transparent;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

input[type="file" i]::-webkit-file-upload-button:hover {
  background:rgb(247, 244, 244);
}

textarea {
  padding: 5px;
  border: 1px solid rgb(92, 92, 92);
  font-family: arial, sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, td, th {
  padding: 5px;
  border: 1px solid black;
}