* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: sans-serif;
}

body {
  background: #e8e8e8;
}

.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 32px;
  row-gap: 16px;
  padding: 16px;

  .card {
    border-radius: 5px;
    background: #ffffff;
    box-shadow: 0px 10px 13px -7px #d3d3d3;

    .card__image {
      img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }

    .card__title {
      padding: 12px;

      color: #7c7c7c;
      font-size: 18px;
      font-weight: 100;
    }

    .card__content {
      min-height: 80px;
      padding-right: 12px;
      padding-bottom: 12px;
      padding-left: 12px;

      color: #999999;
      font-size: 13.33333px;
    }

    .card__action {
      margin-top: auto;
      padding: 12px;

      .btn {
        padding: 5px;
        width: 100%;
        
        background: transparent;
        border: 1px solid #cccccc;
        color: #696969;
      }
    }
  }
}

@media (max-width: 1199px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}
